---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Examples" description="Examples of learning with LLMs." />
	</head>
	<body>
		<Header />
		<main>
			<h1>How should we use LLMs to learn?</h1>
			<p>This page is a work in progress.</p>
			<p>
				Here we'll share examples of how to use LLMs to learn. This is a big topic, and there are
                many ways to do it, so we'll start with a few examples and add more over time.
			</p>
			<p>Check back soon — good stuff coming.</p>
		</main>
		<Footer />
	</body>
</html>
