---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Why Learn?</h1>
			<p>This site is a work in progress.</p>
			<p>
				We expect people to learn, we hope they do, but we rarely talk about it.
				This project hopes to explain learning: why do it? how do it? how do it good?
				Clear, concise, to-the-point. We can always dream big huh?
			</p>
			<p>Check back soon — good stuff coming.</p>
		</main>
		<Footer />
	</body>
</html>
