<div id="page-scrollbar">
	<div id="page-scrollbar-thumb"></div>
</div>

<style is:global>
	#page-scrollbar {
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		pointer-events: none;
		z-index: 0;
	}
	#page-scrollbar-thumb {
		position: absolute;
		right: 0;
		width: 5px;
		background: rgb(var(--gray-dark));
	}
	@media (prefers-color-scheme: dark) {
		#page-scrollbar-thumb {
			background: rgb(var(--gray-light));
		}
	}

</style>

<script>
	const pageThumb = document.getElementById('page-scrollbar-thumb')!;

	function updatePageThumb() {
		const scrollHeight = document.documentElement.scrollHeight;
		const clientHeight = window.innerHeight;
		const ratio = clientHeight / scrollHeight;
		const thumbHeight = clientHeight * ratio;
		const thumbTop = (window.scrollY / scrollHeight) * clientHeight;
		pageThumb.style.height = `${thumbHeight}px`;
		pageThumb.style.top = `${thumbTop}px`;
	}

	window.addEventListener('scroll', updatePageThumb, { passive: true });
	updatePageThumb();
</script>
